<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置客户实体类service-->
    <bean id="customerService" class="com.hlz.crm.service.impl.CustomerServiceImpl">
        <property name="customerDao" ref="customerDao"></property>
    </bean>
    <!-- 配置客户实体类dao-->
    <bean id="customerDao" class="com.hlz.crm.dao.impl.CustomerDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>
    <!--customerAction-->
    <bean id="customerAction" class="com.hlz.crm.action.CustomerAction" scope="prototype">
        <property name="customerService" ref="customerService"/>
    </bean>
</beans>